@page "{id}"
@model UserEditModel
@{
    // Usato con asp-for per la creazione di nuovi claim
    EditClaimInputModel claimInputModel = new();
    EditRoleInputModel roleInputModel = new();
}
<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-end mb-2">
        <form asp-page-handler="Delete">
            <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
    </div>
</div>
<fieldset class="mt-3">
    <legend>Profilo</legend>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
    <partial name="_UserEditForm" for="UserProfile"></partial>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
</fieldset>

<fieldset class="mt-3">
    <legend>Ruoli assegnati all'utente (@Model.UserRoles.Count)</legend>
    <div class="row">
        <div class="col-10"><label asp-for="@roleInputModel.Name"></label></div>
        <div class="col-2"></div>
    </div>
    <hr class="mt-0">
    @foreach (ApplicationRole role in Model.UserRoles)
    {
        <form method="post" asp-page-handler="RevokeRole">
            <div class="row">
                <div class="col-10">
                    @role.Name
                    <input type="hidden" asp-for="@role.Name">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger btn-block">Revoca</button>
                </div>
            </div>
        </form>
        <hr>
    }
    <form method="post" asp-page-handler="AssignRole">
        <div class="row bg-light pt-2 pb-2">
            <div class="col-10">
                <select class="form-control" asp-for="@roleInputModel.Name">
                    @foreach (ApplicationRole role in Model.Roles)
                    {
                    <option value="@role.Name">@role.Name</option>
                    }
                </select>
                <span asp-validation-for="@roleInputModel.Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary btn-block">Assegna</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
        <span asp-validation-for="UserRoles" class="text-danger"></span>
        </div>
    </div>
</fieldset>

<fieldset class="mt-3">
    <legend>Claim assegnati all'utente (@Model.UserClaims.Count)</legend>
    <p>Qui si possono assegnare all'utente sia i ruoli che altri tipi di claim standard.
    <div class="row">
        <div class="col-7"><label asp-for="@claimInputModel.Type"></label></div>
        <div class="col-3"><label asp-for="@claimInputModel.Value"></label></div>
        <div class="col-2"></div>
    </div>
    <hr class="mt-0">
    @foreach (Claim claim in Model.UserClaims)
    {
        <form method="post" asp-page-handler="RevokeClaim">
            <div class="row">
                <div class="col-7 claim-type">
                    @if(Model.StandardClaimTypes.ContainsKey(claim.Type))
                    {
                        <text>@Model.StandardClaimTypes[claim.Type] (@claim.Type)</text>
                    }
                    else
                    {
                        <text>@claim.Type</text>
                    }
                    <input type="hidden" asp-for="@claim.Type">
                </div>
                <div class="col-3">
                    @claim.Value
                    <input type="hidden" asp-for="@claim.Value">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger btn-block">Revoca</button>
                </div>
            </div>
        </form>
        <hr>
    }
    <form method="post" asp-page-handler="AssignClaim">
        <div class="row bg-light pt-2 pb-2">
            <div class="col-7">
                <select class="form-control" asp-for="@claimInputModel.Type">
                    <optgroup label="Tipi di claim standard">
                        @foreach (KeyValuePair<string, string> claimType in Model.StandardClaimTypes)
                        {
                        <option value="@claimType.Key">@claimType.Value (@claimType.Key)</option>
                        }
                    </optgroup>
                </select>
                <span asp-validation-for="@claimInputModel.Type" class="text-danger"></span>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" asp-for="@claimInputModel.Value">
                <span asp-validation-for="@claimInputModel.Value" class="text-danger"></span>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary btn-block">Assegna</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
        <span asp-validation-for="UserClaims" class="text-danger"></span>
        </div>
    </div>
</fieldset>