@page "{id}"
@model UserEditModel
@{
    // Usato con asp-for per la creazione di nuovi claim
    UserEditClaimInputModel inputModel = new();
}
<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-end mb-2">
        <form asp-page-handler="Delete">
            <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
    </div>
    <div class="col-12"><a asp-page="/Users/Index"><small>&#8592; Torna all'elenco</small></a></div>
</div>
<fieldset id="profile" class="mt-5">
    <legend>Profilo</legend>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
    <partial name="_UserEditForm" for="UserProfile"></partial>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
</fieldset>

<fieldset id="claims" class="mt-5">
    <legend>Claim assegnati all'utente (@Model.UserClaims.Count)</legend>
    <p>Qui si possono assegnare all'utente sia i ruoli che altri tipi di claim standard. Il ruoli assegnabili in questa applicazione sono i seguenti: @string.Join(", ", Model.RoleNames).
    <div class="row">
        <div class="col-7"><label asp-for="@inputModel.Type"></label></div>
        <div class="col-3"><label asp-for="@inputModel.Value"></label></div>
        <div class="col-2"></div>
    </div>
    <hr class="mt-0">
    @foreach (Claim claim in Model.UserClaims)
    {
        <form method="post" asp-page-handler="RevokeClaim" asp-fragment="claims">
            <div class="row list">
                <div class="col-7 claim-type">
                    @claim.Type
                    <input type="hidden" name="Type" value="@claim.Type">
                </div>
                <div class="col-3">
                    @claim.Value
                    <input type="hidden" name="Value" value="@claim.Value">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger btn-block">Revoca</button>
                </div>
            </div>
        </form>
        <hr>
    }
    <form method="post" asp-page-handler="AssignClaim" asp-fragment="claims">
        <div class="row bg-light pt-2 pb-2">
            <div class="col-7">
                <div class="input-group">
                    <input type="text" id="claim-type" asp-for="@inputModel.Type" class="form-control" placeholder="Digita un claim type o selezionalo dalla lista..." onchange="toggleRoleSelector(this.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleziona</button>
                        <div class="dropdown-menu selector" onclick="setValue(event, true);">
                            <a class="dropdown-item" data-value="@ClaimTypes.Role">@nameof(ClaimTypes.Role)</a>
                            <div role="separator" class="dropdown-divider"></div>
                            @foreach (KeyValuePair<string, string> claimType in Model.StandardClaimTypes.Where(claimType => claimType.Key != ClaimTypes.Role))
                            {
                            <a class="dropdown-item" data-value="@claimType.Key">@claimType.Value</a>
                            }
                        </div>
                    </div>
                </div>
                <span asp-validation-for="@inputModel.Type" class="text-danger"></span>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" id="claim-value" asp-for="@inputModel.Value" class="form-control" placeholder="Claim value...">
                    <div class="input-group-append">
                        <button id="role-selector" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleziona</button>
                        <div class="dropdown-menu" onclick="setValue(event)">
                            @foreach (string roleName in Enum.GetNames<Role>())
                            {
                            <a class="dropdown-item" data-value="@roleName">@roleName</a>
                            }
                        </div>
                    </div>
                </div>
                <span asp-validation-for="@inputModel.Value" class="text-danger"></span>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary btn-block">Assegna</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
        <span asp-validation-for="UserClaims" class="text-danger"></span>
        </div>
    </div>
</fieldset>
@section Scripts
{
    <script>
    function setValue(event, toggle) {
        if (!event.target || !event.target.dataset.value) {
            return;
        }
        $(event.target).closest('.input-group').find("input").val(event.target.dataset.value);
        event.preventDefault();
        if (toggle) {
            toggleRoleSelector(event.target.dataset.value);
        }
    }
    function toggleRoleSelector(value) {
        var roleSelector = $('#role-selector');
        if (value === '@ClaimTypes.Role') {
            roleSelector.show();
        } else {
            roleSelector.hide();
        }
    }
    toggleRoleSelector($('#claim-type').val());
    </script>
}