@page "{id}"
@model UserEditModel
@{
    // Usato con asp-for per la creazione di nuovi claim
    EditClaimInputModel claimInputModel = new();
    EditRoleInputModel roleInputModel = new();
}
<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-end mb-2">
        <form asp-page-handler="Delete">
            <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
    </div>
    <div class="col-12"><a asp-page="/Users/Index"><small>&#8592; Torna all'elenco</small></a></div>
</div>
<fieldset id="profile" class="mt-5">
    <legend>Profilo</legend>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
    <partial name="_UserEditForm" for="UserProfile"></partial>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
</fieldset>

<fieldset id="roles" class="mt-5">
    <legend>Ruoli assegnati all'utente (@Model.UserRoles.Count)</legend>
    <div class="row">
        <div class="col-10"><label asp-for="@roleInputModel.Name"></label></div>
        <div class="col-2"></div>
    </div>
    <hr class="mt-0">
    @foreach (string name in Model.UserRoles)
    {
        <form method="post" asp-page-handler="RevokeRole" asp-fragment="roles">
            <div class="row">
                <div class="col-10">
                    @name
                    <input type="hidden" name="Name" value="@name">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger btn-block">Revoca</button>
                </div>
            </div>
        </form>
        <hr>
    }
    <form method="post" asp-page-handler="AssignRole" asp-fragment="roles">
            @if (Model.Roles.Count > 0)
            {
            <div class="row bg-light pt-2 pb-2">
                <div class="col-10">
                    <select class="form-control" asp-for="@roleInputModel.Name">
                    @foreach (ApplicationRole role in Model.Roles)
                    {
                    <option value="@role.Name">@role.Name</option>
                    }
                    </select>
                    <span asp-validation-for="@roleInputModel.Name" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-primary btn-block">Assegna</button>
                </div>
            </div>
            }
            else
            {
            <div class="row pt-2 pb-2">
                <div class="col-12">
                    <div class="alert alert-warning">
                        Al momento non ci sono ruoli ma puoi <a asp-page="/Roles/Create">creare un nuovo ruolo</a>.
                    </div>
                </div>
            </div>
            }
    </form>
    <div class="row">
        <div class="col-12">
        <span asp-validation-for="UserRoles" class="text-danger"></span>
        </div>
    </div>
</fieldset>

<fieldset id="claims" class="mt-5">
    <legend>Claim assegnati all'utente (@Model.UserClaims.Count)</legend>
    <p>Qui si possono assegnare all'utente dei tipi di claim standard o arbitrari.
    <div class="row">
        <div class="col-7"><label asp-for="@claimInputModel.Type"></label></div>
        <div class="col-3"><label asp-for="@claimInputModel.Value"></label></div>
        <div class="col-2"></div>
    </div>
    <hr class="mt-0">
    @foreach (Claim claim in Model.UserClaims)
    {
        <form method="post" asp-page-handler="RevokeClaim" asp-fragment="claims">
            <div class="row">
                <div class="col-7">
                    @claim.Type
                    <input type="hidden" name="Type" value="@claim.Type">
                </div>
                <div class="col-3">
                    @claim.Value
                    <input type="hidden" name="Value" value="@claim.Value">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger btn-block">Revoca</button>
                </div>
            </div>
        </form>
        <hr>
    }
    <form method="post" asp-page-handler="AssignClaim" asp-fragment="claims">
        <div class="row bg-light pt-2 pb-2">
            <div class="col-7">
                <div class="input-group">
                    <input type="text" id="claim-type" asp-for="@claimInputModel.Type" class="form-control" placeholder="Digita un claim type o selezionalo dalla lista...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleziona</button>
                        <div class="dropdown-menu selector" onclick="setValue(event, true);">
                            @foreach (KeyValuePair<string, string> claimType in Model.StandardClaimTypes)
                            {
                            <a class="dropdown-item" data-value="@claimType.Key">@claimType.Value</a>
                            }
                            </div>
                        </div>
                </div>
                <span asp-validation-for="@claimInputModel.Type" class="text-danger"></span>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" asp-for="@claimInputModel.Value">
                <span asp-validation-for="@claimInputModel.Value" class="text-danger"></span>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary btn-block">Assegna</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
        <span asp-validation-for="UserClaims" class="text-danger"></span>
        </div>
    </div>
</fieldset>
@section Scripts
{
    <script>
    function setValue(event) {
        if (!event.target || !event.target.dataset.value) {
            return;
        }
        $(event.target).closest('.input-group').find("input").val(event.target.dataset.value);
        event.preventDefault();
    }
    </script>
}