@page "{id}"
@model UserEditModel
@{
    // Usato con asp-for per la creazione di nuovi claim
    UserEditClaimInputModel inputModel = new();
}
<div class="row">
    <div class="col-10">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-end mb-2">
        <form asp-page-handler="Delete">
            <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
    </div>
</div>
<fieldset class="mt-3">
    <legend>Profilo</legend>
    <span asp-validation-for="UserProfile" class="text-danger"></span>
    <partial name="_UserEditForm" for="UserProfile"></partial>
</fieldset>


<fieldset class="mt-3">
    <legend>Claim assegnati all'utente (@Model.UserClaims.Count)</legend>
    <p>Qui si possono assegnare all'utente sia i ruoli che altri tipi di claim standard. Il ruoli assegnabili in questa applicazione sono i seguenti: @string.Join(", ", Model.RoleNames).
    <div class="row">
        <div class="col-7"><label asp-for="@inputModel.Type"></label></div>
        <div class="col-3"><label asp-for="@inputModel.Value"></label></div>
        <div class="col-2"></div>
    </div>
    <hr class="mt-0">
    @foreach (Claim claim in Model.UserClaims)
    {
        <form method="post" asp-page-handler="RevokeClaim">
            <div class="row">
                <div class="col-7 claim-type">
                    @if(Model.StandardClaimTypes.ContainsKey(claim.Type))
                    {
                        <text>@Model.StandardClaimTypes[claim.Type] (@claim.Type)</text>
                    }
                    else
                    {
                        <text>@claim.Type</text>
                    }
                    <input type="hidden" asp-for="@claim.Type">
                </div>
                <div class="col-3">
                    @claim.Value
                    <input type="hidden" asp-for="@claim.Value">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-danger btn-block">Revoca</button>
                </div>
            </div>
        </form>
        <hr>
    }
    <form method="post" asp-page-handler="AssignClaim">
        <div class="row bg-light pt-2 pb-2">
            <div class="col-7">
                <select class="form-control" asp-for="@inputModel.Type">
                    <option value="@ClaimTypes.Role">Role (@ClaimTypes.Role)</option>
                    <optgroup label="Altri tipi di claim standard">
                        @foreach (KeyValuePair<string, string> claimType in Model.StandardClaimTypes.Where(claimType => claimType.Key != ClaimTypes.Role))
                        {
                        <option value="@claimType.Key">@claimType.Value (@claimType.Key)</option>
                        }
                    </optgroup>
                </select>
                <span asp-validation-for="@inputModel.Type" class="text-danger"></span>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" asp-for="@inputModel.Value">
                <span asp-validation-for="@inputModel.Value" class="text-danger"></span>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary btn-block">Assegna</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
        <span asp-validation-for="UserClaims" class="text-danger"></span>
        </div>
    </div>
</fieldset>